div.discover-title
  h1 Discover Daily Art
div.discover-menu
  div.discover-menu-wrapper
    span.discover-order-recent R e c e n t
    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    span.discover-order-trend T r e n d
div.discover-content
  .discover-content-box
    .discover-content-box-header
      img.box-header-avatar(src='/images/profile_dummy.png')
      .box-header-id
        span @kimDongwon
        img.box-header-plus(src='/images/board/plus.svg')
      .box-header-time 4h
    .discover-content-box-body
      img.box-body-img(src='/images/frame.svg')
      .box-body-content this is content
    .discover-content-box-bottom
      div.box-icon-box
        img.box-bottom-see(src='/images/board/see.png')
      div.box-icon-box
        p.box-see-couint 123
      div.box-icon-box
        img.box-bottom-comment(src='/images/board/comment.png')
      div.box-icon-box
        p.box-comment-count 8
      div.box-icon-box
        img.box-bottom-like(src='/images/board/like.png')
      div.box-icon-box
        p.box-like-count 8
div.discover-more-content More Content