div.forgot-input-box
  form.forgot-box-form(action="/auth/local-login" method='POST')
    p= message
    div.forgot-title
      h1 Don't Worry!
    div.form-label-group
      input(type='text' name='email' placeholder='Enter your email' required='' autofocus='')
    button.btn-forgot(type='submit') Reset Password