if message
  div.forgot-input-box
    div.forgot-info-title
      h1 Check your email
      p.forgot-info-message= message.info
      p.forgot-info-subtitle 해당 메일로 회원가입한 사실이 있을 경우만 메일이 발송됩니다
else
  div.forgot-input-box
    form.forgot-box-form(action="/api/forgotpassword" method='POST')
      div.forgot-title
        h1 Don't Worry!
      div.form-label-group
        input(type='text' name='email' placeholder='Enter your email' required='' autofocus='')
      button.btn-forgot(type='submit') Reset Password