.main-grid
  for post in posts
    .grid-item
      a.main-content-link(href=`/contents/${post._id}`)
        img(src=`${post.photo[0]}`)
        div.img-overlay
          div.img-text= `@${post.author.username}`
          div.img-text-content= post.content