div#post-box
  form(action='/post' method='POST' enctype='multipart/form-data' id="post-form")
    #post-image-area
      #post-drag-info DROP IMAGE HERE
    #post-text-area
      textarea#content(name="content" placeholder="Texting here" autofocus="")
    hr
    #post-btn-area
      button.btn#post-post-btn(type='submit') Submit
      .filebox
        label.btn(for='post-image-btn') Upload
        input#post-image-btn(type='file' name='image')
        input#post-hidden(type='hidden' name='hidden')
      a(href='#') cancel
  #post-preview-box
    img#preview