div.reset-input-box
  div.reset-box-form
    div.reset-title
      h1 새로운 비밀번호를 입력하세요
      h3.reset-email#reset-email #{email}
      p.reset-token#reset-token #{token}
    div.form-label-group
      input#input-password(type='password' name='password' placeholder='Enter new password' required='' autofocus='')
      div.message-box#message-password
    button.btn-reset#btn-reset Set this Password