doctype html
html(lang='ko')
  head
    include component/common/head.pug
    link(rel='stylesheet', href='/stylesheets/post.css')
    link(rel='stylesheet', href='/stylesheets/content.css')
  body
    include component/common/header.pug
    div.main
      include component/page/post.pug
      include component/page/content.pug
  script(src='/javascripts/post.js')
  script(type="module" src='/javascripts/content.js')
  script(src='/javascripts/comment.js')