doctype html
html(lang='ko')
  head
    include component/common/head.pug
    link(rel='stylesheet', href='/stylesheets/forgotpassword.css')
    script(src='/javascripts/flash-message.js')
  body
    include component/common/header.pug
    div.main
      include component/common/flash-message.pug
      include component/page/forgotpassword.pug