doctype html
html(lang='ko')
  head
    link(rel='stylesheet', href='/stylesheets/initSettings.css')
  body
    div.main
      include component/common/flash-message.pug
      include component/page/initSettings.pug
  script(src='/javascripts/flash-message.js')
  script(src='/javascripts/initSettings.js')