doctype html
html(lang='ko')
  head
    include component/common/head.pug
    link(rel='stylesheet', href='/stylesheets/likes.css')
    link(rel='stylesheet', href='/stylesheets/post.css')
  body
    include component/common/header.pug
    div.main
      include component/page/post.pug
      include component/page/likes.pug
  script(src='/javascripts/post.js')
  script(type="module" src='/javascripts/likes.js')
  script(src="/javascripts/library/isotope.pkgd.min.js")