extends layout

block content
  h1.page= page
  form.form-signin(action='/login' method='POST')
    .form-group
      label(for='id') ID
      input#id(type='text' name='id' placeholder='id를 입력하세요' required='' autofocus='')
    .form-group
      label(for='password') PASSWORD
      input#password(type='password' name='password' placeholder='Password를 입력하세요' required='')
    hr
    button(type='submit') LOGIN
  button#btn-register(onclick="location.href='/register'") SIGN IN