doctype html
html(lang='ko')
  head
    include component/common/head.pug
    link(rel='stylesheet', href='/stylesheets/post.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="/javascripts/library/isotope.pkgd.min.js")
  body
    include component/common/header.pug
    div.main
      include component/common/flash-message.pug
      include component/page/post.pug
      include component/page/main.pug
    script(src='/javascripts/main.js')
    script(src='/javascripts/post.js')
    script(src='/javascripts/flash-message.js')