doctype html
html(lang='ko')
  head
    include component/common/head.pug
    script(src='/javascripts/header.js')
  body
    include component/common/header.pug
    div.main
      include component/page/main.pug