doctype html
html(lang='ko')
  head
    include component/common/head.pug
    link(rel='stylesheet', href='/stylesheets/signup.css')
  body
    include component/common/header.pug
    div.main
      include component/page/signup.pug