.forgot-input-box {
  position: absolute;
  top : 30%;
  left: 35%;
  width: 30%;
  text-align: center;
  height: 50%;
}

.forgot-box-form {
  position: relative;
  top: 5%;
}

.form-label-group input {
  font-size:1.0em;
  height: 60px;
  width: 70%;
  margin: 5px 0;
  padding: 10px;
  border : none;
  outline: none;
}

.btn-forgot {
  margin: 3% 0;
  width: 70%;
  height:60px;
  background:  rgb(134, 134, 255);;
  color:#fff;
  border:none;
  position:relative;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition: 0.5s ease all;
  outline:none;
  border-radius: 10px;
}

.btn-signin:hover {
  color: black
}

.forgot-title{
  text-align: left;
  margin-left: 15%;
  margin-bottom: 5%;
}

.forgot-info-title{
  text-align: left;
  margin-left: 15%;
  margin-bottom: 5%;
  margin-top: 10%;
}


.forgot-info-message {
  margin-top: 8%;
}

.forgot-info-subtitle {
  font-size: smaller;
  margin-top: 4%;
}

body {
  background-color : lightcyan
}