nav.navbar
  a.logo(href='/')
    img(src='/images/frame.svg' alt='logo')
  ul.nav-links
    li.nav-item
      a(href='#') Discover
    li.nav-item
      a(href='#') Following
    if user
      li.nav-item#user-profile
        a(href='#') #{user.username}
      li.nav-item#btn-logout
        a(href='#') Log out
    else
      li.nav-item
        a(href='/signin') Sign in
      li.nav-item
        a(href='/signup') Sign up