nav.navbar
  a.logo(href='/')
    img(src='/images/frame.svg' alt='logo')
  ul.nav-links
    li.nav-item
      a(href='#') Discover
    li.nav-item
      a(href='#') Following
    li.nav-item
      a(href='/signin') Sign in
    li.nav-item
      a(href='/signup') Sign up